JBossEjb3/build/
tp3_spring/build/
.metadata/
Servers/
JBoss_test_client/build/
ebj_web_client/build/
ebj_web_client/bin/
bak/
ebj_web_client/WebContent/Depricated/
ebj_web_client/.classpath
testServlets/
