<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ebj_web_client</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearTable</display-name>
    <servlet-name>ClearTable</servlet-name>
    <servlet-class>servlet.ClearTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearTable</servlet-name>
    <url-pattern>/ClearTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllContact</display-name>
    <servlet-name>ShowAllContact</servlet-name>
    <servlet-class>servlet.ShowAllContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllContact</servlet-name>
    <url-pattern>/ShowAllContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>servlet.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveContact</display-name>
    <servlet-name>RemoveContact</servlet-name>
    <servlet-class>servlet.RemoveContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveContact</servlet-name>
    <url-pattern>/RemoveContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchContact</display-name>
    <servlet-name>SearchContact</servlet-name>
    <servlet-class>servlet.SearchContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchContact</servlet-name>
    <url-pattern>/SearchContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContact</display-name>
    <servlet-name>UpdateContact</servlet-name>
    <servlet-class>servlet.UpdateContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContact</servlet-name>
    <url-pattern>/UpdateContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEntreprise</display-name>
    <servlet-name>AddEntreprise</servlet-name>
    <servlet-class>servlet.AddEntreprise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEntreprise</servlet-name>
    <url-pattern>/AddEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menuAddContact</display-name>
    <servlet-name>menuAddContact</servlet-name>
    <servlet-class>servletMenus.menuAddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuAddContact</servlet-name>
    <url-pattern>/menuAddContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menuMainPage</display-name>
    <servlet-name>menuMainPage</servlet-name>
    <servlet-class>servletMenus.menuMainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuMainPage</servlet-name>
    <url-pattern>/menuMainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menuSearchPage</display-name>
    <servlet-name>menuSearchPage</servlet-name>
    <servlet-class>servletMenus.menuSearchPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuSearchPage</servlet-name>
    <url-pattern>/menuSearchPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEntreprise</display-name>
    <servlet-name>SearchEntreprise</servlet-name>
    <servlet-class>servlet.SearchEntreprise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEntreprise</servlet-name>
    <url-pattern>/SearchEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menuRemoveClient</display-name>
    <servlet-name>menuRemoveClient</servlet-name>
    <servlet-class>servletMenus.menuRemoveClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuRemoveClient</servlet-name>
    <url-pattern>/menuRemoveClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeEntreprise</display-name>
    <servlet-name>removeEntreprise</servlet-name>
    <servlet-class>servlet.removeEntreprise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeEntreprise</servlet-name>
    <url-pattern>/removeEntreprise</url-pattern>
  </servlet-mapping>
</web-app>